extends ./layouts/common.pug
block content
    .d-flex.flex-row.justify-content-center.align-items-center
        img(src="/images/avata.jpg", alt="logo", width="100px", height='100px')
        h1 Quốc Việt 
    
    